---
title: Using WSO2 API Manager for PCF
owner: Partners
---

<strong><%= modified_date %></strong>

This topic describes how to use WSO2 API Manager.

##<a id='using'></a> Using WSO2 API Manager


###<a id='view_status'></a> View Status

In Ops Manager, select the WSO2 API Manager for PCF tile, then select the **Status**
tab to see the status of all WSO2 API Manager components. In this tab, you can see
information such as CPU usage, memory usage, and other information.
![Status](images/status.png)


###<a id='access-dashboards'></a> Access Dashboards

After the installation is complete, the management console, publisher, and store can be accessed
via the following URLs where domain_name refers to the domain name of the PCF environment.

* `https://wso2apim.sys.<domain_name>/carbon/`
* `https://wso2apim.sys.<domain_name>/publisher/`
* `https://wso2apim.sys.<domain_name>/store/`

###<a id='access-logs'></a> Access Logs

To access log files for WSO2 API Manager for PCF components,

1. Select the WSO2 API Manager for PCF tile in Ops Manager
1. Open the **Status** tab
1. Request a download of the log file by selecting the download icon in the **LOGS** column
![Log-download](images/log-download.png)
1. Go to the **Logs** tab to download the log file locally
![Log-main](images/log-main.png)

###<a id='documentation'></a> Documentation
[WSO2 API Manager for PCF 2.6.0 Documentation](https://docs.wso2.com/display/AM260/)
